:root {
    font-size: 20px;
    --blue: #3962B2;
    --orange: #5BAFA0;
    --textColor: #E4EAF9;
    --black: #5E89FF;
    --medblue: #4DADCC;
}

* {
    padding: 0px;
    margin: 0px;
    display: block;
}

title {
    display: none;
}

body {
    background-color: var(--black);
    color: var(--textColor);
    font-family: 'Asap Condensed', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(#5E89FF, #324882);
}





a {
    font-size: x-large;
    text-decoration: none;
    color: var(--textColor)
}

img {
    width: 100%;
}

.concessions img{
    height: 700px;
    object-fit: cover;
}
h1 {
    color: white;
    font-size: 4.5rem;
   
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    margin-bottom: 1.6rem;
    font-size: 30px;
}



.btn {
    background-color: var(--orange);
    color: var(--textColor);
    padding: .5rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    display: inline-block;
}

.btn.alt{
    background-color: var(--medblue);
    color: var(--textColor);
}

    .btn:hover {
        background-color: #7de39b;
        transition: 1s;
        transform: scale(2.2s);
    }
.twobtn {
    color: var(--medblue);
}

nav {
    z-index: 100;
    width: calc(100% - 200px);
    background-color: #2f67e9;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: fixed;
    top: 0px;
    gap: 50px;
}

nav#mobileMenu {
    display: none;
}

nav img {
    height: 65px;
    width: max-content;
}

nav ul {
    display: flex;
    gap: 2rem;
    font-size: 1.6875rem;
    font-weight: bold;
}

nav li {
    border-bottom: solid 3px var(--white);
    transition: .5s;

}

nav li:hover {
    color: #7caf75;
    border-bottom: solid 3px var(--textColor);
}

.content {
    padding-inline: 100px;
}

/*Logo*/

.logo{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/*Hero Image */

#aboutImage {
    height: 80vh;
    background-image: url(assets/gamemuseum.png);
    background-size: cover;
    background-position: bottom;
   
   
    
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#heroImage {
    height: 80vh;
    background-image: url(assets/hero.jpg);
    background-size: cover;
    background-position: bottom;
   
   
    margin-block: 0px 160px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    #heroImage div {
        max-width: 40rem;
    }   

    #heroImage h1 {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    #heroImage p {
        text-align: center;
        font-size: 1.6775rem;
        font-weight: bold;
        margin-bottom: 4rem;
        opacity: 1;
    }


.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-block: 160px;
    width: 100%;
    
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.cards * {
    margin-bottom: 2rem;
    
}

.cards h3 {
    font-size: 1.5rem;
}

    .cards div {
        max-width: 30%;
        color: var(--textColor);
    }

.cards div a {
   color: var(--textColor);
   text-decoration: underline;
   margin-bottom: 0px;
   background-color: var(--orange);
   color: var(--textColor);
   padding: .5rem 2rem;
   border-radius: 10px;
       
   display: inline-block;   
}

.cards img {
    border-radius: 2px;
    width: 250px;
    object-fit: cover;
}

.cards div:hover img {
    filter: grayscale(1);

}

#app {
    
    grid-template-columns: 1fr 1fr;
}

.miniatures {
    width: 136px;
    text-align: center;
    
}

.miniatures h3 {
    font-size: 10px;
}

.h2font h2 {
    font-size: 40px;
}

.minigrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.icon-section {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.left-icon {
    display: grid;
    grid-template-columns: 125px 1fr;
    gap: .5rem;
    width: 100%;
}

.right-icon {
    display: grid;
    grid-template-columns: 1fr 125px;
    gap: .5rem;
    width: 100%;
    text-align: right;
}

/*mission*/

#mission {
    background-image: url(assets/plants.jpg);
    background-size: cover;
    color: var(--textColor);
    padding: 2.5rem 0rem;
    margin-left: -100px;
    margin-right: -100px;
    display: flex;
    flex-wrap: wrap;
    margin-block: 120px;
}

    #mission .two-col {
        margin-block: 2rem;
        padding-inline: 100px;
        margin-inline: auto;
    }

    #mission h2, #mission .btn {
        margin: auto;
        text-align: center;
    }

.email {
    background-image: url(assets/email.png)
}

.phone {
    background-image: url(assets/phone.png)
}

.sm-icon {
    font-size: 20px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    
    display: inline-block;
}

.nerds{
    margin: 90px -100px 00px;
    padding: 20px 100px;
    background: rgb(37,29,176);
    background: linear-gradient(0deg, rgb(19 47 121) 49%, rgba(229, 251, 255, 0) 100%);
    text-align: centers;
    margin-bottom: 75px;
    
}

#contact{
    margin: 90px -100px 00px;
    padding: 20px 100px;
    background: #B6C0DB;
    text-align: centers;
    color: #212839 !important;
}



.contactform a{
    color: #15398c !important;
}

#contact a {
    display: inline-block;
    text-decoration: underline;
    color: var(--orange);
    margin-left: 5px;
}

#contact p {
    display: flex;
    align-items: center;
}

input, textarea {
    font-family: arial;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0px;
   
    border-radius: 5px;
    font-size: 1rem;
}

    input:focus-visible, textarea:active {
        outline: var(--blue) solid 2px;
    }
    input[type=submit] {

        width: 100%;
        border: none;
    }

datalist {
    display: none;
}



@media screen and (max-width:750px) {
    nav#mobileMenu {
        padding: 10px 15px;
        display: flex;
        width: calc(100% - 30px);
    }


    h1 {
        font-size: 3rem !important;
    }

    #heroImage p {
        font-size: 1.3rem;
    }

    #heroImage {
        margin-top: 45px;
      /*background-image: linear-gradient(45deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(assets/heroImage.jpg);*/
    }

    .content {
        padding: 0px 1.5rem;
    }

    .two-col, #app {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .cards {
        flex-wrap: wrap;
    }

        .cards div {
            width: 100%;
            max-width: 100%;
        }

    .icon-section {
        gap: 2rem;
    }

    #mission {
        margin-inline: -1.5rem;
    }
}



.hamburger div {
    width: 50px;
    height: 5px;
    background-color: var(--textColor);
    transition: 1s;
}

    .hamburger div:first-of-type {
        margin-bottom: 10px;
    }

.hamburger:hover div:first-of-type {
    transform: rotate(45deg) translateX(10px);
}

.hamburger:hover div:nth-of-type(2) {
    transform: rotate(-45deg) translateX(10px);
}

#overlay {
    z-index: 101;
    background: var(--green);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

    #overlay ul {
        margin: 50px auto;
        font-size: 2rem;
        width: fit-content;
    }

    #overlay li {
        width: fit-content;
        margin-block: 1.5rem;
    }

        #overlay li a {
            color: white !important;
        }

script {
    display: none;
}

.three-col {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-block: 100px;
}

.four-col {
    font-size: 30px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}



.museum-content{
    font-size: 20px;
}

.location {
    width: 100%;
}
.tickies {
    background: #B6C0DB;
    display: flex;
    /* gap: 2rem; */
    font-size: 1.6875rem;
    font-weight: bold;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-bottom: 75px;
}

.tickies a{
    color: rgb(33, 39, 62);
}

.multi-button {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sqs-edit-mode-active .fluid-engine & .sqs-block-button-container {
    width: unset;
}

.whowearetext {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
}

.muchmore {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 75px;
    
}


#exhibitions div {
    border: solid 1px white;
    padding: 8px;
    border-radius: 10px;
}

#exhibitions h3 {
    text-align: center;
    background-color: #3962B2;
    padding: 10px;
}

h4.events {
    text-align: center;
    padding: 10px;
}

#exhibitions img {
    height: 250px;
    object-fit: cover;
}

#exhibitions p {
    font-size: 23px;
}

.event {
    margin: 90px -100px 100px;
    padding: 20px;
    background: rgb(5,19,55);
    background: linear-gradient(0deg, rgb(46 89 199) 0%, rgba(71, 117, 237, 1) 54%);
    text-align: center;
}

.tickies ul {
    background-color: #B6C0DB;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-weight: bold;
    border-bottom: solid 3px var(--white);
    transition: .5s;
    width: 100%;
}

.admissions > div {
background-color: #9aaee3;
}

.tickies .btn {
    margin: auto;
}

.bottomtext{
    background: rgb(5,19,55);
    background: linear-gradient(0deg, rgba(5,19,55,1) -100%, rgba(71,117,237,1) 52%);
        padding: 50px;
        max-width: 80%;
        margin: auto;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

.bottomtext p {
    color: #ffffff;
}
.team{
    color:#ffffff;
}
.joinourteam{
    margin: 90px -100px 00px;
    padding: 20px;
    background: rgb(5, 19, 55);
    background: linear-gradient(0deg, rgb(46 89 199) 0%, rgba(71, 117, 237, 1) 54%);
    text-align: center
}

.hero{

    height: 80vh;
    background-image: url(assets/hero.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.team > div {
    background: rgb(5,19,55);
background: linear-gradient(0deg, rgba(5,19,55,1) -100%, rgba(71,117,237,1) 52%);
    padding: 50px;
    max-width: 80%;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 50px;
}


#exhibitions1 div {border: solid 1px rgb(112, 255, 129);padding: 8px;border-radius: 10px;}

#exhibitions1 h3 {
    text-align: center;
    background-color: #d18126;
    padding: 10px;
}
#exhibitions2 h3 {
    text-align: center;
    background-color: #4ab283;
    padding: 10px;
}
#exhibitions3 h3 {
    text-align: center;
    background-color: #45889b;
    padding: 10px;
}

#exhibitions1 img {
    height: 250px;
    object-fit: cover;
}

#exhibitions1 p {
    font-size: 23px;
}

#listexhibits img{
    border: solid 1px rgb(54, 255, 155); 
    padding: 8px; 
    border-radius: 10px;
    background-color: #3962B2;
    padding: 10px;
}

.admissions {
    max-width: 80%;
    margin: 0px auto 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ticketType, .ticketnumbers {
    display: flex;
    justify-content: space-between;
}

.ticketType {
    border-bottom: solid 1px white;
}

.ticketBox {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    border:solid 1px white;
}

.ticketnumbers {
    flex-direction: row-reverse;
    align-items: center;
}

.ticketnumbers div {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    font-weight: bold;
}

.ticketnumbers div input {
    max-width: 40px;
}

.ticketnumbers p {
    margin-top: 20px;
}

#exhibitions.homepage div{
    max-width: 450px;
}

.careers li{
    display: list-item;
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: normal;

}

@media screen and ( max-width: 1100px) {
    .three-col {
        grid-template-columns: 1fr;
    }

}

iframe{
 width: 100%;   
}

#mobile {
    width: calc(100% - 20px - 20px );
    padding: 10px 20px;
    display: none;
    
}

@media screen and (max-width: 1200px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: flex;
    }

}

nav#mobile img{
    height: 100%;
    width: 200px;

}

.hamburger {
    margin-top: 10px;
}

.overlay  {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #2f67e9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    display: none;
}

.overlay * {
    font-size: 3rem !important;
    padding: 10px;
    text-align: center;
}

.active div:first-of-type {
    transform: rotate(45deg) translateX(10px);
}

.active div:nth-of-type(2) {
    transform: rotate(-45deg) translateX(10px);
}